* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    list-style: none;
}

footer {
    font-size: 2vw;
    font-weight: 400;
    padding: 1em;
    color: gray;
    text-align: center;
}

.top {
    position: fixed;
    display: block;
    width: 60px;
    height: 60px;
    text-indent: -100px;
    overflow: hidden;
    background: url(../images/top-black.png) no-repeat 0 50%;
    background-size: contain;
    bottom: 10%;
    right: 1em;
    z-index: 500;
}

.top:hover {
    background: url(../images/top-white.png) no-repeat 0 50%;
    background-size: contain;
    position: fixed;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 2vw;
}

@media (max-width: 1024px) {
    h3 {
        font-size: 7vw;
        font-weight: 700;
        margin-bottom: 3.5vw;
    }
}
